<div class="row-fluid" id="header">
	<div class="span4">
		<h1>lePosse</h1>
	</div>
	<div class="span6 offset2">
		<% if current_user.present? %>
			<p><%= current_user.first_name %></p>
			<% end %>
 	</div>
</div>


