<div id="banner" class="align-center">
  <h1>Meet and play with people around you.</h1>
  <h1 class="lead">Join Leposse today!</h1>
  <div id="main-search">
    <input class="input-box-level" id="appendedInputButton" type="text" placeholder="What do you want to play?"><br />
    <button class="btn btn-large" type="button">Get Playing!</button>
  </div>
  <p class="lead mt30">Why use Leposse?</p>
</div>
