
<div class="bantext container">
	<h1>Join lePosse today to meet and play with people around you.</h1>
	<br>
	<div class="input-append" id="main-search">
		<input class="span2" id="appendedInputButton" type="text" placeholder="What do you want to play?">
		<button class="btn" type="button">Go!</button>
	</div>
</div>
