@import "bourbon";
@import "fonts";
@import "convenience";
@import "bootstrap_and_overrides";
@import "navbar";
@import "pages";


html {
    background: url('banner2.PNG') no-repeat center center fixed; 
    @include background-size(cover);
    background-clip: bottom-right;
}

body{
	background-color: transparent;
}


btn-navbar collapsed{
	padding-top: 5px;
	border-radius: 12px;
	padding-bottom: 5px;
}