// Text Alignment
.align-center{
  text-align:center;
}

.align-left{
  text-align:left;
}

.align-right {
  text-align:right;
}

// Margins

.mt10 {  margin-top:10px;}
.mt20 {  margin-top:20px;}
.mt30 {  margin-top:30px;}
.mt40 {  margin-top:40px;}
.mt50 {  margin-top:50px;}
.mt60 {  margin-top:60px;}
